{
  "project_name": "",
  "xtrabackup": {
    "user": "",
    "password": "",
    "parallel": 5
  },
  "sftp": {
    "host": "",
    "user": "",
    "password": "",
    "path": "/"
  },
  "slack": {
    "token": "",
    "channel": ""
  }
}