{
  "project_name": "",
  "xtrabackup": {
    "user": "",
    "password": "",
    "host": "",
    "parallel": 5
  },
  "sftp": {
    "host": "",
    "user": "",
    "password": "",
    "path": "/"
  },
  "slack": {
    "token": "",
    "channel": ""
  },
  "rotation": {
    "max_store_time_years": 2,
    "keep_for_last_days": 14
  }
}
